<html>
    <head>
        <title>Welcome || About</title>
        <link rel='stylesheet' href='/home.css'>
    </head>

    <body>
        <% include ../partials/header %>

        
    </body>

</html>