<html>
    <head>
        <title>Welcome || About</title>
        <link rel='stylesheet' href='/css/home.css'>
    </head>

    <body>
        <% include ../partials/header %>

        <div style="padding-left: 40px">
            <p>Current Student at Adelphi University</p>
            <p>Major: Computer Science</p>
            <p>Graduation: 2019</p>
            <br>
            <p>In general I am just a self driven person who is seeking to create technology to aid all of humanity, 
                <br> trying to find challenges that will result in innovation, and a desire to learn.
            </p>
        </div>
        
    </body>

</html>