<html>
    <head>
        <title>Welcome || Contact</title>
        <link rel='stylesheet' href='/css/home.css'>
    </head>

    <body>
        <% include ../partials/header %>

        <div style="padding-left: 40px">
            <h1>To contact me you can use one of the following below</h1>

            <h4>Links are below to get more information</h4>
            <p>Email me at: cojoe123@yahoo.com</p>
            
            <a href="https://github.com/cojoe123">GitHub</a>
            <a href="https://www.facebook.com/joseph.zambrano.98">Facebook</a>
            <a href="https://www.linkedin.com/in/joseph-zambrano-b4325416a/">Linkedin</a>
            
        </div>
    </body>

</html>