<html>
    <head>
        <title>Welcome || Contact</title>
        <link rel='stylesheet' href='/home.css'>
    </head>

    <body>
        <% include ../partials/header %>

        <h1>This is the contact page</h1>

        <h4>Links are below to get more information</h4>

    </body>

</html>