<html>
    <head>
        <title>Git Repos</title>
        <link rel='stylesheet' href='/gitrepo_home.css'>    
    </head>


    <body>
        <% include ../partials/gitHeader %>

        <h1>To display repos here</h1>
    </body>

</html>