<html>
    <head>
        <title>Git Repos</title>
        <link rel='stylesheet' href='/css/gitrepo_home.css'> 
        
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <script src='/scripts/git_request.js'></script>

    </head>


    <body>
        <% include ../partials/gitHeader %>

        <h1>List of projects on my GitHub</h1>

        <div id="repo-container">
            <% for (var i = 0; i < arrName.length; i++) { %> 
                <p>
                    <%= arrName[i] %> 
                    <br><br>
                    <%= arrDesc[i] %>
                    <br><br>
                    <a href="https://github.com/cojoe123/<%=arrName[i]%>" rel="noopener noreferrer" target="_blank">View on GitHub</a>
                </p>
            <% } %>
        </div>        

    </body>

</html>