<html>
    <head>
        <title>Welcome</title>
        <link rel='stylesheet' href='/home.css'>
    </head>

    <body>
        <% include ../partials/header %>
    

        <div style="padding-left:20px">
            <h1>Responsive Header</h1>
            <p>Resize the browser window to see the effect.</p>
            <p>Some content..</p>
            <br>
            <a href="/gitrepos">View My Repos</a>
        </div>

    </body>

</html>