<html>
    <head>
        <title>Welcome</title>
        <link rel='stylesheet' href='/css/home.css'>
    </head>

    <body>
        <% include ../partials/header %>
    

        <div style="padding-left:20px">
            <h1>This site is to tell the world a bit about me</h1>
            <p>This site is to show those who visit my interest in computer science and software development</p>
            <p>More importantly this site is to show who I am as person</p>
            <p>Here is some content enjoy...</p>
            <p><a href="/gitrepos">View My GitHub Repos</a></p>
        </div>

    </body>

</html>