<html>
    <head>
        <title>Welcome</title>
        <link rel='stylesheet' href='/css/home.css'>
    </head>

    <body>
        <% include ../partials/header %>
    
        <header>
            <div class="content-wrap" style="padding-left:20px">
              <!-- <img class="profile-img" src="images/unsplash.jpg", alt="Joey"> -->
              <h1>This site is to tell the world a bit about me</h1>
              <p>This site is to show those who visit my interest in computer science and software development.
                  More importantly this site is to show who I am as person</p>
              <p>Here is some content enjoy...</p>
              <p><a href="/gitrepos">View My GitHub Repos</a></p>
            </div>
        </header>
    </body>

</html>